@model Product




<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
    </div>
    <div class="form-group">
        <label asp-for="Details">Details</label>
        <input type="text" class="form-control" asp-for="Details" placeholder="Title" rows="4" />
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <textarea class="form-control" asp-for="Price" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Shipping">Shipping</label>
        <textarea class="form-control" asp-for="Shipping" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Categ">Select category</label>
        <select class="form-control" asp-for="Categ">
            <option>menn</option>
            <option>women</option>
            <option>babies</option>
            <option>accessories</option>
         
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        
     
        <input type="file" name="file" class="form-control" id="file" />
    </div>



  
 

    <br />
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>